.fa.fa-user,
.fa.fa-clock-o {
  padding-right: 10px;
  color: #d61010;
  font-size: 11px;
}

.post-image {
  height: 250px;
  overflow: hidden;
}
.post-title {
  font-weight: 900;
  font-size: xx-large;
  font-style: italic;
  text-decoration: none;
}
.post-description {
  font-size: 15px;
  padding-top: 20px;
}

#my_with {
  display: none;
}
.MuiCardHeader-content span {
  color: black;
  font-size: 15px;
  font-weight: bolder;
}

.MuiGridListTileBar-title {
  font-size: 1.7em !important;
}

.card-body {
  padding: 0px !important;
}

.text-center {
  padding-left: 5px !important;
  padding-right: 5px !important;
  /* width: 60% !important; */
}
/* li.MuiGridListTile-root {
  width: 900px !important;
  height: 600px !important;
} */

/* @media screen and (max-width: 992px) {
  .ant-card-cover img {
    width: 100% !important;
  }
} */

/* On screens that are 600px or less, set the background color to olive */
/* @media screen and (max-width: 600px) {
  .ant-card-cover img {
    width: 100% !important;
  }
}

.ant-card-bordered {
  border: none !important;
} */

.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");

body {
  background-color: #fafafa;
  font-family: "Noto Serif", serif;
}

.comment-container {
  width: 80%;
  margin: 2rem auto;
}

a {
  color: #c40030;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.v-btn {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  height: 36px;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  margin: 6px 8px;
  min-width: 88px;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 16px;
}

.v-btn:before {
  border-radius: inherit;
  color: inherit;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}

.v-btn:focus,
.v-btn:hover {
  position: relative;
}

.v-btn:focus:before,
.v-btn:hover:before {
  background-color: currentColor;
}

.v-btn__content {
  align-items: center;
  border-radius: inherit;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  white-space: nowrap;
  width: inherit;
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
  will-change: box-shadow;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat):active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: -42px;
  border-radius: 50%;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.v-avatar img {
  border-radius: 50%;
  display: inline-flex;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.v-card {
  text-decoration: none;
}

.v-card > :first-child:not(.v-btn):not(.v-chip) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.v-card > :last-child:not(.v-btn):not(.v-chip) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.v-sheet {
  display: block;
  border-radius: 2px;
  position: relative;
}

.v-dialog__container {
  display: inline-block;
  vertical-align: middle;
}

.elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

*,
:after,
:before {
  box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

a:active,
a:hover {
  outline-width: 0;
}

button {
  font: inherit;
  overflow: visible;
  text-transform: none;
  background-color: transparent;
  border-style: none;
  color: inherit;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
