.fa.fa-user,
.fa.fa-clock-o {
  padding-right: 10px;
  color: #d61010;
  font-size: 11px;
}

.post-image {
  height: 250px;
  overflow: hidden;
}
.post-title {
  font-weight: 900;
  font-size: xx-large;
  font-style: italic;
  text-decoration: none;
}
.post-description {
  font-size: 15px;
  padding-top: 20px;
}

#my_with {
  display: none;
}
.MuiCardHeader-content span {
  color: black;
  font-size: 15px;
  font-weight: bolder;
}

.MuiGridListTileBar-title {
  font-size: 1.7em !important;
}

.card-body {
  padding: 0px !important;
}

.text-center {
  padding-left: 5px !important;
  padding-right: 5px !important;
  /* width: 60% !important; */
}
